@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-color: #f1f1f1;
}

.container {
  height: 350px;
  width: 50%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.btn {
  margin-left: 16px;
  margin-top: 50px;
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.inp {
  position: relative;
  margin-bottom: 30px;
}

.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50%;
  border: none;
  font-family: inherit;
  padding: 12px;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: all 0.3s ease;
}

.inp input:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.inp .label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inp input:not(:placeholder-shown) + .label,
.inp input:focus + .label {
  top: 8px;
  font-size: 12px;
  color: #666;
}

.inp input::-webkit-input-placeholder {
  color: #999;
}

.inp input::-moz-placeholder {
  color: #999;
}
